<%= form_for [:admin, @guest] do |f| %>

    <table class="table table-bordered">
	<tr>
	    <td>
		<%= f.label :name, 'Nombre' %>
	    </td>
	    <td>
		<%= f.text_field :name, :class => 'input-xlarge' %>
	    </td>
	</tr>
	<tr>
	    <td>
		<%= f.label :email, 'Email' %>
	    </td>
	    <td>
		<%= f.text_field :email, :class => 'input-xlarge' %>
	    </td>
	</tr>
	<tr>
	    <td>
		<%= f.label :phone, 'Teléfono' %>
	    </td>
	    <td>
		<%= f.text_field :phone, :class => 'input-xlarge' %>
	    </td>
	</tr>
    </table>

    <%= f.submit :class => 'btn btn-primary' %>

<% end %>
