<div class="well">
    <h2>Clientes</h2>
</div>

<table class="table table-bordered table-hover">
    <thead>
	<tr>
	    <th>Nombre</th>
	    <th>Email</th>
	    <th>Telefono</th>
	</tr>
    </thead>
    <tbody>
	<% for guest in @guests %>
	    <tr>
		<td><%= link_to guest.name, admin_guest_path(guest) %></td>
		<td><%= guest.email %></td>
		<td><%= guest.phone %></td>
		<td><%= link_to "Editar", edit_admin_guest_path(guest) %></td>
		<td><%= link_to "Eliminar", [:admin, guest], :confirm => '¿Estas seguro?', :method => :delete, :class => 'btn btn-small btn-danger' %></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<br />

<%= link_to 'Nuevo cliente', new_admin_guest_path, :class => 'btn btn-primary' %>
