<table class="table table-bordered">
    <tr>
	<td>
	    <%= f.label :fare, 'Tarifa' %>
	</td>
	<td>
	    <%= f.text_field :fare, :class => 'input-xlarge' %>
	</td>
    </tr>
    <tr>
	<td>
	    <%= f.label :start_date, 'Fecha de inicio' %>
	</td>
	<td class="parent">
	    <div class="input-append date datepicker-start" data-date="<%= Time.now.strftime('%d/%m/%Y') %>" data-date-format="dd-mm/yyyy">
		<%= f.text_field :start_date, :value => Time.now.strftime('%d/%m/%Y'), :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
	    </div>
	</td>
    </tr>
    <tr>
	<td>
	    <%= f.label :end_date, 'Fecha de fin' %>
	</td>
	<td>
	    <div class="input-append date datepicker-end" data-date="<%= (Time.now + 1.days).strftime('%d/%m/%Y') %>" data-date-format="dd-mm-yyyy">
		<%= f.text_field :end_date, :value => (Time.now + 1.days).strftime('%d/%m/%Y'), :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
	    </div>
	</td>
    </tr>
    <% if f.object.persisted? %>
	<tr>
	    <td>
		<%= f.label :_destroy, "Eliminar tarifa" %>
	    </td>
	    <td>
		<%= f.check_box :_destroy %>
	    </td>
	</tr>
    <% end %>
</table>
