<h1>Habitaciones</h1>

<table class="table table-bordered">
    <tr>
	<th>Nombre</th>
	<th>Hotel</th>
	<th>Tarifa</th>
	<th>Existencia</th>
	<th>Disponibles</th>
	<th>No. Personas</th>
	<th></th>
	<th></th>
    </tr>
    <% for room in @rooms %>
	<tr>
	    <td><%= link_to room.name, admin_room_path(room) %></td>
	    <td><%= room.hotel.name %></td>
	    <td>$<%= room.fare %></td>
	    <td><%= room.existence %></td>
	    <td><%= room.available %></td>
	    <td><%= room.max_persons %></td>
	    <td><%= link_to "Editar", edit_admin_room_path(room), :class => 'btn btn-small' %></td>
	    <td><%= link_to "Eliminar", [:admin, room], :confirm => '¿Estas seguro?', :method => :delete, :class => 'btn btn-small btn-danger' %></td>
	</tr>
    <% end %>
</table>

<br />

<%= link_to "Nueva Habitación", new_admin_room_path, :class => 'btn btn-primary' %>
