<table class="table table-bordered table-striped">
    <tr>
	<td width="121">&nbsp;</td>
	<td>
	    <h2><%= @room.hotel.name %></h2>
	</td>
    </tr>
    <tr>
	<td><b>Nombre</b></td>
	<td><%= @room.name %></td>
    </tr>
    <tr>
	<td><b>Tarifa</b></td>
	<td>$<%= @room.fare %></td>
    </tr>
    <tr>
	<td><b>Existencias</b></td>
	<td><%= @room.existence %></td>
    </tr>
    <tr>
	<td><b>Disponibles</b></td>
	<td><%= @room.available %></td>
    </tr>
</table>

<%= link_to "Editar", edit_admin_room_path(@room), :class => 'btn' %>
<%= link_to "Regresar", admin_rooms_path, :class => 'btn' %>
