<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel:</strong>
  <%= @room.hotel_id %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @room.name %>
</p>
<p>
  <strong>Tarifa:</strong>
  <%= @room.fare %>
</p>
<p>
  <strong>Existencias:</strong>
  <%= @room.existence %>
</p>
<p>
  <strong>Disponibles:</strong>
  <%= @room.available %>
</p>

<%= link_to "Editar", edit_admin_room_path(@room), :class => 'btn' %>
<%= link_to "Regresar", admin_rooms_path, :class => 'btn' %>
