<table class="table table-bordered table-striped">

    <tr>
	<td><b>Habitación</b></td>
	<td><%= @reservation.room_id %></td>
    </tr>
    <tr>
	<td><b>Cliente</b></td>
	<td><%= @reservation.guest_id %></td>
    </tr>
    <tr>
	<td><b>Check-in</b></td>
	<td><%= @reservation.check_in %></td>
    </tr>
    <tr>
	<td><b>Check-out</b></td>
	<td><%= @reservation.check_out %></td>
    </tr>
    <tr>
	<td><b>Estado:</b></td>
	<td><%= @reservation.status_id %></td>
    </tr>
</table>

<%= link_to 'Editar', edit_admin_reservation_path(@reservation), :class => 'btn' %>
<%= link_to 'Regresar', admin_reservations_path, :class => 'btn' %>
