<table class="table table-bordered table-striped">

    <tr>
	<td width="121">&nbsp;</td>
	<td>
	    <h2>Reservación No. <%= @reservation.id %></h2>
	</td>
    </tr>

    <tr>
	<td><b>Reservacion creada</b></td>
	<td><%= @reservation.created_at.strftime("%d/%m/%Y %I:%M%p") %></td>
    </tr>
    <tr>
	<td><b>Reservacion actualizada</b></td>
	<td><%= @reservation.updated_at.strftime("%d/%m/%Y %I:%M%p") %></td>
    </tr>

    <tr>
	<td><b>Hotel</b></td>
	<td><%= link_to @reservation.hotel.name, admin_hotels_path(@reservation.hotel) %></td>
    </tr>

    <tr>
	<td><b>Habitación</b></td>
	<td><%= link_to "#{@reservation.room.name} ($#{@reservation.room.fare})", admin_rooms_path(@reservation.room) %></td>
    </tr>
    <tr>
	<td><b>Cliente</b></td>
	<td><%= link_to @reservation.guest.name, admin_guest_path(@reservation.guest) %></td>
    </tr>
    <tr>
	<td><b>Check-in</b></td>
	<td><%= @reservation.check_in %></td>
    </tr>
    <tr>
	<td><b>Check-out</b></td>
	<td><%= @reservation.check_out %></td>
    </tr>
    <tr>
	<td><b>No. Personas</b></td>
	<td><%= @reservation.persons %></td>
    </tr>
    <tr>
	<td><b>Comentario</b></td>
	<td><%= @reservation.comment %></td>
    </tr>
    <tr>
	<td><b>Total</b></td>
	<td>$<%= @reservation.total_amount.nil? ? '0' : @reservation.total_amount %></td>
    </tr>
    <tr>
	<td><b>Estado</b></td>
	<td><span class="label label-info"><%= @reservation.status_human %></span></td>
    </tr>
    <tr>
	<td><b>Paypal Transaction ID</b></td>
	<td><%= @reservation.payment_notification.nil? ? 'No disponible' : @reservation.payment_notification.transaction_id %></td>
    </tr>
    <tr>
	<td><b>Paypal Status</b></td>
	<td><%= @reservation.payment_notification.nil? ? 'No disponible' : @reservation.payment_notification.status %></td>
    </tr>
    <tr>
	<td><b>Paypal fecha pago</b></td>
	<td><%= @reservation.payment_notification.nil? ? 'No disponible' : @reservation.payment_notification.created_at.strftime('%d/%m/%Y %I:%M%p') %></td>
    </tr>
</table>

<%= link_to 'Editar', edit_admin_reservation_path(@reservation), :class => 'btn' %>
<%= link_to 'Regresar', admin_reservations_path, :class => 'btn' %>
