<h3>Destino</h3>

<%= form_tag('/search', :method => 'get') do %>
    
    <% for destination in @destinations %>
	<%= check_box_tag "destinations[]", destination.id %> <%= destination.name %>
    <% end %>
    <%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll(this);") %> Todos

    <br /><br />
    <% for fare in @fares %>
	<%= check_box_tag "fares[]", fare.id %> <%= fare.name %>
    <% end %>
    <%= check_box_tag('check_all', 'check_all', false, :onClick => 'checkAll(this)') %> Todos

    <br /><br />
    <% for category in @categories %>
	<%= check_box_tag "categories[]", category.id %> <%= category.name %>
    <% end %>
    <%= check_box_tag('check_all', 'check_all', false, :onClick => 'checkAll(this)') %> Todos

    <br /><br />
    <%= submit_tag("Search") %>

<% end %>
