<%= form_for([:admin, @hotel], :html => {:multipart => true}) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, 'Cuenta de usuario' %>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street, 'Calle' %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :district, 'Colonia' %>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :zipcode, 'Codigo postal' %>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :destination_id, 'Destino' %>
    <%= collection_select :hotel, :destination_id, Destination.all, :id, :name, :prompt => 'Seleccionar destino' %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Telefonos' %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website, 'Sitio web' %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fare_id, 'Rango de tarifa' %>
    <%= collection_select :hotel, :fare_id, Fare.all, :id, :name, :prompt => 'Seleccionar rango' %>
  </div>
  <div class="field">
    <%= f.label :video, 'URL del video' %>
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :paypal, 'Correo de cuenta Paypal' %>
    <%= f.text_field :paypal %>
  </div>
  <div class="field">
      <%= f.label :lat, 'Mapa (Latitud)' %>
      <%= f.text_field :lat %>
  </div>
  <div class="field">
      <%= f.label :lng, 'Mapa (Longitud)' %>
      <%= f.text_field :lng %>
  </div>


  <div>
      <%= f.fields_for :photos, @hotel.photos do |builder| %>
	  <% if builder.object.new_record? %>
	      <%= builder.label :data, "Foto" %>
	      <%= builder.file_field :data %>
	  <% end %>
      <% end %>
  </div>
  <br />

  <div>
      <%= f.fields_for :photos, @hotel.photos do |builder| %>
	  <% unless builder.object.new_record? %>
	      <%= image_tag builder.object.data.url %><br />
	      <%= builder.check_box :_destroy %>
	  <% end %>
      <% end %>
  </div>

  <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
