<div class="well clearfix">
    <h2 style="display:block; float:left; width:200px; margin-top:10px">Hoteles</h2>

    <table class="totals pull-right">
	<tr>
	    <td><strong>Total: </strong></td><td><%= @total_hotels %></td>
	</tr>
	<tr>
	    <td><strong>Activos: </strong></td><td><%= @total_active_hotels %></td>
	</tr>
	<tr>
	    <td><strong>Inactivos: </strong></td><td><%= @total_inactive_hotels %></td>
	</tr>
    </table>

</div>

<div class="button-wrapper">
    <%= link_to 'Nuevo Hotel', new_admin_hotel_path, :class => 'btn btn-primary' %>
</div>

<%= paginate @hotels %>

<table class="table table-bordered table-hover">
    <thead>
	<tr>
	    <th>Nombre</th>
	    <th>Dirección</th>
	    <th>Destino</th>
	    <th>Email</th>
	    <th>Tarifa</th>
	    <th></th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
	<% @hotels.each do |hotel| %>
	    <tr>
		<td><%= link_to hotel.name, admin_hotel_path(hotel) %></td>
		<td><%= hotel.street %> <%= hotel.district %> <%= hotel.zipcode %></td>
		<td><%= hotel.destination.name %></td>
		<td><%= hotel.email %></td>
		<td><%= hotel.fare.name %></td>
		<td><%= link_to 'Editar', edit_admin_hotel_path(hotel), :class => 'btn btn-small' %></td>
		<td><%= link_to 'Eliminar', [:admin, hotel], method: :delete, data: { confirm: '¿Estas seguro?' }, :class => 'btn btn-small btn-danger' %></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<%= paginate @hotels %>

<br />
