<p id="notice"><%= notice %></p>

<h1><%= @hotel.name %></h1>

<p>
  <b>Cuenta de usuario:</b>
  <%= @hotel.user_id %>
</p>

<p>
  <b>Calle:</b>
  <%= @hotel.street %>
</p>

<p>
  <b>Colonia:</b>
  <%= @hotel.district %>
</p>

<p>
  <b>Codigo Postal:</b>
  <%= @hotel.zipcode %>
</p>

<p>
  <b>Destino:</b>
  <%= @hotel.destination.name %>
</p>

<p>
  <b>Telefonos:</b>
  <%= @hotel.phone %>
</p>

<p>
  <b>Sitio web:</b>
  <%= @hotel.website %>
</p>

<p>
  <b>Email:</b>
  <%= @hotel.email %>
</p>

<p>
  <b>Rango de tarifas:</b>
  <%= @hotel.fare.name %>
</p>

<p>
  <b>URL de Video:</b>
  <%= @hotel.video %>
</p>

<p>
  <b>Correo de cuenta Paypal:</b>
  <%= @hotel.paypal %>
</p>

<p>
    <b>Descripción:</b>
    <%= @hotel.description %>
</p>

<p>
    <b>Categorias:</b>
    <table class="table table-bordered">
	<tr>
	    <th>Categoria</th>
	</tr>
	<% @hotel.categories.each do |category| %>
	    <tr>
		<td><%= link_to category.name, admin_category_path(category) %></td>
	    </tr>
	<% end %>
    </table>
</p>

<h4>Fotografias agregadas:</h4>
<table class="table table-bordered table-photos">
    <% @hotel.photos.each do |photo| %>
	<tr>
	    <td><%= image_tag photo.data.url %></td>
	</tr>
    <% end %>
</table>

<%= link_to 'Editar', edit_admin_hotel_path(@hotel), :class => 'btn' %>
<%= link_to 'Regresar', admin_hotels_path, :class => 'btn' %>

<br /><br />
