<div class="well">
    <h2>Contactos</h2>
</div>

<div class="button-wrapper">
    <%= link_to 'Nuevo Contacto', new_admin_contact_path, :class => 'btn btn-primary' %>
</div>

<table class="table table-bordered table-striped">
    <thead>
	<tr>
	    <th>No.</th>
	    <th>Hotel</th>
	    <th>Habitación</th>
	    <th>Cliente</th>
	    <th>Check in</th>
	    <th>Check out</th>
	    <th></th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
	<% @contacts.each do |contact| %>
	    <tr>
		<td><%= link_to contact.id, admin_contact_path(contact) %></td>
		<td><%= link_to contact.hotel.name, admin_hotel_path(contact.hotel) %></td>
		<td><%= contact.room.nil? ? 'Ninguna' : link_to(contact.room.name, admin_room_path(contact.room_id)) %></td>
		<td><%= contact.guest.nil? ? 'Ninguno' : link_to(contact.guest.name, admin_guest_path(contact.guest)) %></td>
		<td><%= contact.check_in %></td>
		<td><%= contact.check_out %></td>
		<td><%= link_to 'Editar', edit_admin_contact_path(contact), :class => 'btn btn-small' %></td>
		<td><%= link_to 'Eliminar', [:admin, contact], method: :delete, data: { confirm: '¿Estas seguro?' }, :class => 'btn btn-small btn-danger' %></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<br />

