<%= form_for [:admin, @category] do |f| %>
    <% if @category.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

	    <ul>
		<% @category.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <table class="table table-bordered">
	<tr>
	    <td><%= f.label :name, "Categoria" %></td>
	    <td><%= f.text_field :name, :class => 'input-xlarge' %></td>
	</tr>
    </table>

    <%= f.submit :class => 'btn btn-primary' %>

<% end %>
