
<div class="button-wrapper clearfix">
    <%= link_to 'Regresar', admin_users_path, :class => 'btn' %>
    <%= link_to 'Editar', edit_admin_user_path(@user), :class => 'btn' %>
</div>

<table class="table table-bordered table-striped">
    <tr>
	<td width="121">&nbsp;</td>
	<td><h2><%= @user.email %></h2></td>
    </tr>
    <tr>
	<td><b>Hotel</b></td>
	<td><%= link_to @user.hotel.nil? ? 'No disponible' : @user.hotel.name, @user.hotel.nil? ? '#' : admin_hotel_path(@user.hotel) %></td>
    </tr>
    <tr>
	<td><b>Rol</b></td>
	<td><%= @user.roles.map{ |r| r.name }.join(',') %></td>
    </tr>
    <tr>
	<td><b>Usuario creado</b></td>
	<td><%= @user.created_at.strftime("%d/%m/%Y %I:%M%p") %></td>
    </tr>
    <tr>
	<td><b>Ultima vez conectado</b></td>
	<td><%= @user.last_sign_in_at.strftime("%d/%m/%Y %I:%M%p") %></td>
    </tr>
</table>

