<% javascript 'hotels_show' %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' %>

<span class="page_title blur"><%= @hotel.name %></span>

<div class="page_content clearfix">

    <div id="status_alert" class="alert alert-error" style="display:none;">
	<strong>RESERVACIÓN NO REALIZADA! </strong> Favor de revisar los siguientes errores:
	<br /><br/>
	<ul class="unstyled"></ul>
    </div>

    <div id="status_success" class="alert alert-success" style="display:none;">
	<strong>SOLICITUD RECIBIDA! </strong> Nos pondremos en contacto con usted lo mas pronto posible. Muchas gracias
    </div>

    <div class="left_side">

	<span class="page_subtitle blur">Reserva en línea</span>

	<div class="form-canvas alpha clearfix">

	    <%= form_tag("/hoteles/#{@hotel.id}/reservar", :method => 'post', :name => 'reservation_form', :class => 'form-horizontal', :remote => true, :'data-update-target' => 'status_alert') do %>
		<div class="control-group">
		    <%= label_tag 'nombre', 'Nombre', :class => 'control-label' %>
		    <div class="controls">
			<%= text_field_tag 'nombre', nil, :placeholder => 'Nombre completo', :class => 'input-xlarge' %>
		    </div>
		</div>
		<div class="control-group">
		    <%= label_tag 'email', 'E-mail', :class => 'control-label' %>
		    <div class="controls">
			<%= text_field_tag 'email', nil, :placeholder => 'ejemplo@dominio.com', :class => 'input-xlarge' %>
		    </div>
		</div>
		<div class="control-group">
		    <%= label_tag 'telefono', "Teléfono", :class => 'control-label' %>
		    <div class="controls">
			<%= text_field_tag 'telefono', nil, :placeholder => '(55) 5626874', :class => 'input-xlarge' %>
		    </div>
		</div>
		<div class="control-group">
		    <%= label_tag 'check_in', 'Fecha de llegada', :class => 'control-label' %>
		    <div class="controls">
			<div class="input-append date datepicker-checkin" data-date="<%= Time.now.strftime('%d/%m/%Y') %>" data-date-format="dd-mm-yyyy" data-date-before-show-day="<%= @dates.to_json %>">
			    <%= text_field_tag 'check_in', Time.now.strftime('%d/%m/%Y'), :placeholder => 'Seleccionar fecha de llegada', :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span></input>
			</div>
		    </div>
		</div>
		<div class="control-group">
		    <%= label_tag 'check_out', 'Fecha de salida', :class => 'control-label' %>
		    <div class="controls">
			<div class="input-append date datepicker-checkout" data-date="<%= (Time.now + 1.days).strftime('%d/%m/%Y') %>" data-date-format="dd-mm-yyyy" data-date-before-show-day="<%= @dates.to_json %>">
			    <%= text_field_tag 'check_out', (Time.now + 1.days).strftime('%d/%m/%Y'), :placeholder => 'Seleccionar fecha de salida', :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span></input>
			</div>
		    </div>
		</div>
		<% unless @hotel.rooms.empty? %>
		    <div class="control-group">
			<%= label_tag 'room', 'Habitación', :class => 'control-label' %>
			<div class="controls">
			    <%= collection_select(:room, :room_id, @hotel.rooms, :id, :name_and_fare, {:prompt => 'Seleccionar Habitación'}, {:class => 'select_form'}) %>
			</div>
		    </div>
		<% end %>
		<div class="control-group">
		    <%= label_tag 'adults', 'Adultos', :class => 'control-label' %>
		    <div class="controls">
			<table class="table_persons">
			    <tr>
				<td>
				    <%= select_tag 'adults', (1..10).map{|i| "<option>#{i}</option>"}.join.html_safe, :class => 'select_small' %>
				</td>
				<td>
				    <span class="label_form">Niños</span>
				    <!--
				    <%= label_tag 'children', 'Niños', :class => 'control-label' %>
				    -->
				</td>
				<td>
				    <%= select_tag 'children', (0..10).map{|i| "<option>#{i}</option>"}.join.html_safe, :class => 'select_small' %>
				</td>
			    </tr>
			</table>
		    </div>
		</div>
		<div class="control-group">
		    <%= label_tag 'comentario', 'Comentario', :class => 'control-label' %>
		    <div class="controls">
			<%= text_area_tag 'comentario', nil, :rows => 3, :class => 'input-xlarge' %>
		    </div>
		</div>
		<div class="control-group">
		    <div class="controls">
			<% unless @hotel.paypal.blank? %>
			    <%= submit_tag 'Reserva ya', :class => 'btn btn-custom pull-right' %>
			<% end %>
			<%= submit_tag 'Solicitar Información', :class => "btn btn-custom pull-right" %>
		    </div>
		</div>

	    <% end %>

	</div>

	<div id="map-canvas">
	    <iframe width="480" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?ie=UTF8&amp;q=Hotel+<%= @hotel.name.gsub(' ', '+') %>&amp;fb=1&amp;gl=mx&amp;hq=Hotel+<%= @hotel.name.gsub(' ', '+') %>&amp;hnear=<%= @hotel.destination.name %>,+MOR&amp;&amp;t=m&amp;iwloc=a&amp;&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
	</div>

    </div>

    <div class="right_side">

	<span class="page_subtitle blur">Descripción</span>

	<div class="right_wrapper">

	    <div class="hotel_description">
		<%= @hotel.description %>
	    </div>

	    <% unless @hotel.photos.empty? %>

		<table class="photo-gallery">
		    <% @hotel.photos.in_groups_of(3) do |group| %>
			<tr>
			    <% group.each_with_index do |photo,i| %>
				<% if photo.nil? %>
				    <td>&nbsp;</td>
				<% else %>
				    <td>
					<a class="fancybox" rel="gallery1" href="<%= photo.data.url(:original) %>" title="<%= "#{@hotel.name} #{i+1}" %>"><img src="<%= photo.data.url(:thumb) %>" alt="" /></a>
				    </td>
				<% end %>
			    <% end %>
			</tr>
		    <% end %>
		</table>

	    <% end %>

	</div>

	<!--
	<% unless @hotel.photos.empty? %>
	    <div id="zoom-gallery">
		<img src="<%= asset_path 'preloader.gif' %>" class="preloader" width="55" height="18" alt="preloader" />
		<ul>
		    <li title="<%= @hotel.photos[0].nil? ? asset_path('sin_foto.png') : @hotel.photos[0].data.url(:medium) %>">
		    <% unless @hotel.photos[0].nil? %>
			<ul class="align-left" title="<%= @hotel.photos[0].data.url %>"></ul>
		    <% end %>
		    </li>
		    <li title="<%= @hotel.photos[1].nil? ? asset_path('sin_foto.png') : @hotel.photos[1].data.url(:medium) %>">
		    <% unless @hotel.photos[1].nil? %>
			<ul class="align-left" title="<%= @hotel.photos[1].data.url %>"></ul>
		    <% end %>
		    </li>
		    <li title="<%= @hotel.photos[2].nil? ? asset_path('sin_foto.png') : @hotel.photos[2].data.url(:medium) %>">
		    <% unless @hotel.photos[2].nil? %>
			<ul class="align-left" title="<%= @hotel.photos[2].data.url %>"></ul>
		    <% end %>
		    </li>
		    <li title="<%= @hotel.photos[3].nil? ? asset_path('sin_foto.png') : @hotel.photos[3].data.url(:medium) %>">		
		    <% unless @hotel.photos[3].nil? %>
			<ul class="align-left" title="<%= @hotel.photos[3].data.url %>"></ul>
		    <% end %>
		    </li>
		    <li title="<%= @hotel.photos[4].nil? ? asset_path('sin_foto.png') : @hotel.photos[4].data.url(:medium) %>">
		    <% unless @hotel.photos[4].nil? %>
			<ul class="align-left" title="<%= @hotel.photos[4].data.url %>"></ul>
		    <% end %>
		    </li>
		</ul>
		<noscript>
		    <div id="noscript">
			<img src="<%= @hotel.photos.first.nil? ? asset_path('sin_foto.png') : @hotel.photos.first.data.url(:medium) %>" width="340" height="227" alt="<%= @hotel.name %>" />
		    </div>
		</noscript>
	    </div>
	<% end %>
	-->

	<% unless @hotel.video.blank? %>
	    <div class="video-canvas">
		<iframe width="480" height="270" src="http://www.youtube.com/embed/<%= youtube(@hotel.video) %>" frameborder="0" allowfullscreen></iframe>
	    </div>
	<% end %>

    </div>

</div>
