<% javascript 'hotels_show' %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' %>
<!--
<h1><%= @hotel.name %></h1>
-->

<div class="left_side">

    <h3>Reserva en línea</h3>

    <div class="form-canvas">

	<%= form_tag('/', :method => 'post', :name => 'reservation_form', :class => 'form-horizontal') do %>
	    <div class="control-group">
		<%= label_tag 'nombre', 'Nombre', :class => 'control-label' %>
		<div class="controls">
		    <%= text_field_tag 'nombre', nil, :placeholder => 'Nombre completo', :class => 'input-xlarge' %>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'email', 'E-mail', :class => 'control-label' %>
		<div class="controls">
		    <%= text_field_tag 'email', nil, :placeholder => 'ejemplo@dominio.com', :class => 'input-xlarge' %>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'telefono', "Teléfono", :class => 'control-label' %>
		<div class="controls">
		    <%= text_field_tag 'telefono', nil, :placeholder => '(55) 5626874', :class => 'input-xlarge' %>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'check_in', 'Fecha de llegada', :class => 'control-label' %>
		<div class="controls">
		    <div class="input-append date datepicker-checkin" data-date="<%= Time.now.strftime('%d/%m/%Y') %>" data-date-format="dd-mm-yyyy">
			<%= text_field_tag 'check_in', Time.now.strftime('%d/%m/%Y'), :placeholder => 'Seleccionar fecha de llegada', :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span></input>
		    </div>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'check_out', 'Fecha de salida', :class => 'control-label' %>
		<div class="controls">
		    <div class="input-append date datepicker-checkout" data-date="<%= (Time.now + 1.days).strftime('%d/%m/%Y') %>" data-date-format="dd-mm-yyyy">
			<%= text_field_tag 'check_out', (Time.now + 1.days).strftime('%d/%m/%Y'), :placeholder => 'Seleccionar fecha de salida', :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span></input>
		    </div>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'room', 'Habitación', :class => 'control-label' %>
		<div class="controls">
		    <%= collection_select(:room, :hotel_id, @hotel.rooms, :id, :name_and_fare, {:prompt => 'Seleccionar Habitación'}, {:class => 'select_form'}) %>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'persons', 'No. Personas', :class => 'control-label' %>
		<div class="controls">
		    <% if !@hotel.rooms.empty? %>
			<%= select_tag 'persons', (1..@hotel.rooms.max_by(&:max_persons).max_persons).map{|i| "<option>#{i}</option>"}.join.html_safe, :class => 'select_form' %>
		    <% else %>
			<%= select_tag 'persons', (1..8).map{|i| "<option>#{i}</option>"}.join.html_safe, :class => 'select_form' %>
		    <% end %>
		</div>
	    </div>
	    <div class="control-group">
		<%= label_tag 'comentario', 'Comentario', :class => 'control-label' %>
		<div class="controls">
		    <%= text_area_tag 'comentario', nil, :rows => 3, :class => 'input-xlarge' %>
		</div>
	    </div>
	    <div class="control-group">
		<div class="controls">
		    <%= button_tag(type: 'submit', class: 'btn btn-custom pull-right') do %>
			Reserva ya
		    <% end %>
		</div>
	    </div>

	<% end %>

    </div>

    <div id="map-canvas">
	<iframe width="480" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?ie=UTF8&amp;q=hotel+canarios&amp;fb=1&amp;gl=mx&amp;hq=hotel+canarios&amp;Cuernavaca,+MOR&amp;&amp;t=m&amp;iwloc=A&amp;&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
    </div>

</div>

<div class="right_side">

    <h2><%= @hotel.name %></h2>

    <% unless @hotel.photos.empty? %>
	<div id="zoom-gallery">
	    <img src="<%= asset_path 'preloader.gif' %>" class="preloader" width="55" height="18" alt="preloader" />
	    <ul>
		<li title="<%= @hotel.photos[0].nil? ? asset_path('sin_foto.png') : @hotel.photos[0].data.url(:medium) %>"></li>
		<li title="<%= @hotel.photos[1].nil? ? asset_path('sin_foto.png') : @hotel.photos[1].data.url(:medium) %>"></li>
		<li title="<%= @hotel.photos[2].nil? ? asset_path('sin_foto.png') : @hotel.photos[2].data.url(:medium) %>"></li>
		<li title="<%= @hotel.photos[3].nil? ? asset_path('sin_foto.png') : @hotel.photos[3].data.url(:medium) %>"></li>
		<li title="<%= @hotel.photos[4].nil? ? asset_path('sin_foto.png') : @hotel.photos[4].data.url(:medium) %>"></li>
	    </ul>
	    <noscript>
		<div id="noscript">
		    <img src="<%= @hotel.photos.first.nil? ? asset_path('sin_foto.png') : @hotel.photos.first.data.url(:medium) %>" width="340" height="227" alt="<%= @hotel.name %>" />
		</div>
	    </noscript>
	</div>
    <% end %>

    <% unless @hotel.video.nil? %>
	<div class="video-canvas">
	    <iframe width="480" height="270" src="http://www.youtube.com/embed/<%= youtube(@hotel.video) %>" frameborder="0" allowfullscreen></iframe>
	</div>
    <% end %>

</div>
