<!DOCTYPE html>
<html>
<head>
  <title>Tuhmorelos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="header"></div>
    
    <%= link_to '', root_path, :class => 'logo' %>

    <% if controller_name == 'home' && action_name == 'index' %>
	<div class="pasos"></div>
    <% end %>

    <div class="wrapper <%= controller_name == 'home' && action_name == 'index' ? 'wrapper_index' : 'wrapper_normal' %>">

	<div class="content">
	    <%= yield %>
	</div>

    </div>

    <div class="footer">
	<div class="wrapper_width">
	    <%= render :file => 'layouts/footer' %>
	</div>
    </div>

</body>
</html>
