<!DOCTYPE html>
<html>
<head>
  <title>Tuhmorelos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

    <div class="wrapper">

	<div class="header">
	    <%= link_to '', root_path, :class => 'logo' %>
	    
	    <% if controller_name == 'home' && action_name == 'index' %>
		<div class="pasos"></div>
	    <% end %>

	</div>

	<div class="main">
	    <div class="content <%= controller_name == 'home' && action_name == 'index' ? 'content-index' : '' %>">
		<%= yield %>
	    </div>
	</div>

	<div class="footer">
	    <div class="wrapper_width">
		<%= render :file => 'layouts/footer' %>
	    </div>
	</div>

	<div class="subfooter">&nbsp;</div>

    </div>

</body>
</html>
